@using ApiMVCclient.Models;
@model List<ProductionCompany>
@{
    Layout = null;
}
<html>
<head>
    <title></title>
    <link href="~/twitter-bootstrap/css/
bootstrap.css" rel="stylesheet" />

    <link href="~/twitter-bootstrap/css/
bootstrap-grid.css" rel="stylesheet" />
</head>
<body>
    <div class="container mt-2">
        <div class="bg-dark text-white-50 lead text-center
my-2 p-2">
            Şirket Bilgileri
        </div>
        <div class=" text-right pr-2 my-2">
            @* @Html.ActionLink("Add","Sporcular",null,new{@class="btn btn-striped"})*@
            <a asp-action="Add"
               asp-controller="Prodiction"
               class="btn btn-primary btn-sm">Ekle</a>
        </div>
        <table class="table table-hover table-striped
table-bordered table-sm">
            @foreach (var prodiction in Model)
            {

                <tr>
                    <td>@prodiction.ID</td>
                    <td>@prodiction.CompanyName</td>
                    <td>@prodiction.CompanyManager</td>
                     <td>@prodiction.Contact</td>

                    <th>İşlem</th>
                    <td>
                        <a asp-action="Edit" asp-controller="Prodiction"
                       asp-route-id="@prodiction.ID" class="btn btn-warning btn-sm">Edit</a>
                        <a onclick="return confirm('Silmek isteğinizden
   emin misiniz?')"
                       asp-action="Delete" asp-controller="Prodiction"
                       asp-route-id="@prodiction.ID"
                       class="btn btn-danger btn-sm">Delete</a>

                    </td>
                </tr>
            }

        </table>
    </div>
</body>
</html>